<!DOCTYPE html>
<html>
    <head>
        <title>Личный кабинет <%= n_name %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <h1>Личный кабинет <%= n_name %></h1>
            <form action= <%= '/account/'+ login +'/1/default' %>  method="POST">
                <textarea id="searcharea" name = "searcharea" rows=1 placeholder="Поиск по задаче"></textarea><button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                  <th>Дата</th>
                  <th>Задача</th>
                  <th>Вердикт</th>
                  </tr>
                <% var onPage = 10 %>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% for (var i = (page-1)*onPage; i < min(page*onPage,attempts.length); i++) { %>
                <% var attempt = attempts[i]; %>
                <% var task = tasks[i]; %>
                <% var item = attempt.result[attempt.result.length-1] %>
                <% var maxDate = new Date(Number(attempt.date)); %>
                <% var isoDate = maxDate.toISOString(); %>   
                <% var date = isoDate.substr(0, 10) + " " + isoDate.substr(11, 8) ; %>
                 <tr>
                  <td> <a class="tlrefs" href=<%="/attempt/" + login + '/' +  attempt.date  %>> <%= date %> </a> </td>
                  <td> <a class="tlrefs" href=<%="/task/" + task.identificator %>> <%= task.title %> </a> </td>
                  <td><%= item[0] %> <a id=<%= item[2] %>><%= item[1] %></a></td>
                 </tr>
                <% } %>
                </table>

                <% var page = Number(page) %>
                <% var prevPage = page - 1 %>
                <% var nextPage = page + 1 %>

                <div><%= ((page-1)*onPage+1).toString() + "-" +  min(page*onPage,attempts.length).toString() + " из " +  attempts.length.toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/account/' + login + "/" +prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<attempts.length) { %>
                    <button onClick=<%= 'location.href=\"/account/'+ login + "/" +nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>
        </main>
    </body>
</html>