<!DOCTYPE html>
<html>
    <head>
        <title>Задачи</title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        <link rel="stylesheet" href="/public/css/layout.css" type="text/css">
        </head>
    <body>
        <main>
            <form action= '/tasks/1/default'  method="POST">
                <textarea id="searcharea" name = "searcharea" rows=1 placeholder="Поиск задачи"></textarea><button id="submitsearch">Найти</button>
            </form>

            <table class='taskslist'>
                <tr>
                  <th>ID</th>
                  <th>Задача</th>
                  <th>Тема</th>
                  <th>Автор</th>
                  <th>Вердикт</th>
                  </tr>
                <% min = function(a,b){ if(a < b) return a; return b} %>
                <% var onPage = 20 %>
                <% if(tasks.length>0){ if(tasks[0].identificator!=0){ tasks.unshift([0]) } } %>
                <% for (var i = (page-1)*onPage+1; i < min(page*onPage+1,tasks.length); i++) { %>
                <% var task = tasks[i]; %>
                 <tr>
                  <td><%= task.identificator %></td>
                  <td> <a class="tlrefs" href=<%="/task/" + task.identificator %>> <%= task.title %> </a> </td>
                  <td><%= task.topic %></td>
                  <td><%= task.author %></td>
                  <td><%= results[task.identificator] %></td>
                 </tr>
                <% } %>
                </table>

                <% var page = Number(page) %>
                <% var prevPage = page - 1 %>
                <% var nextPage = page + 1 %>

                <div><%= ((page-1)*onPage+1).toString() + "-" +  min(page*onPage,tasks.length-1).toString() + " из " +  (tasks.length-1).toString() %> </div>

                <% if(page>1) { %>
                    <button onClick=<%= 'location.href=\"/tasks/'+prevPage + "/" + search + "\"" %>>&lt;&lt;&lt;</button>
                <% }else { %>
                    <button>&lt;&lt;&lt;</button>
                <% } %>
                <% if(page*onPage<tasks.length-1) { %>
                    <button onClick=<%= 'location.href=\"/tasks/'+nextPage + "/" + search + "\"" %>>&gt;&gt;&gt;</button>
                <% }else { %>
                    <button>&gt;&gt;&gt;</button>
                <% } %>

        </main>
    </body>
</html>