<!DOCTYPE html>
<html>
    <head>
        <title>Задача <%= ID %></title>

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0,
              maximum-scale=1.0, minimum-scale=1.0,
              user-scalable=no, minimal-ui">
        <meta name="full-screen" content="yes">

        </head>
    <body>
        <main>
        <div id="task">
        <H1 id="taskname"><%= problem.title %> <% if(isTeacher){ %> <a id="editref" href=<%= "/edittask/" + problem.identificator %> > [Редактировать] </a> <a id="editref" href=<%= "/deletetask/" + problem.identificator %> > [Удалить] </a>  <% } %></H1>
        <h4>Тема: <%= problem.topic %>         Автор: <%= problem.author %></h3>
        <div id="statement"><%= problem.statement %></div>
        </div>
        <table id="examples" class='taskslist'>
            <tr>
              <th>Example Input</th>
              <th>Example Output</th>
              </tr>
            <% for (var i = 0; i < problem.examples.length; i++) { %>
            <% var example = problem.examples[i]; %>
             <tr>
              <td><%= example[0] %></td>
              <td> <%= example[1] %> </td>
             </tr>
            <% } %>
        </table>
        <form action='/task/<%= ID %>'  method="POST">
            <div class="container">
                    <div class="imgs">
                        <img src="..\..\public\media\TopLeft.svg">
                        <img src="..\..\public\media\TopRight.svg">
                    </div>
                    <textarea class="taskarea" id="code" name = "code" required placeholder="Place code here"><%= prevCode %></textarea>
                    <div class="taskarea"  id="result" name="result" >
                        <ul>
                            <% RESULT.forEach(function(item){ %>
                                <li><%= item[0] %> <a id=<%= item[2] %>><%= item[1] %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="imgsbottom">
                        <img src="..\..\public\media\BottomLeft.svg">
                        <img src="..\..\public\media\BottomRight.svg">
                    </div>
            </div>
            <div>
                <button id="submit">Отправить</button>
            </div>

        </form>
    </main>
    </body>
</html>