body{
    margin: 0px;
    background-color: #87ceeb;
    min-width: 1000px;
    /*background-color: #f0f0f0*/
}
html{
    color: #000000;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: #888888; 
  }

header{
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    height: 75px;
    box-shadow: 0px 2px #00000012;
}
header button{
    display: inline;
    background-color: #ffffff;
    transition: all 300ms ease;
    font-size: 12pt;
    font-variant-caps: small-caps;
    font-weight: bold;
    border: none;
    outline: none;
    font-family: sans-serif;
    padding: 5px; 
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: #0099ff;
}
header button:hover{
    transform: scale(1.1);
    color: #75b5ff;
}

.loginInterface{
    position: absolute;
    top: 25px;
    right: 15px;
    display: inline;
}

.navigationButtons{
    position: relative;
    top: -10px;
    /* left: 180px; */
    display: inline;
}

.userName{
    color: #154cff;
    font-weight: bold;
    font-size: 15pt;
    font-variant-caps: small-caps;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.userName:hover{
    text-decoration: underline;
}

header form{
    display: inline;
    margin-right: 0px;
    margin-left: auto;
}

header input{
    border: none;
    outline: none;
}
header img{
    padding-top: 15px;
    padding-left: 10px;
    display: inline;
    width: 150px;
}
main{
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
    cursor: default;
}
h3{
    color: #4e4e4e;
    margin: 5px;
}

h4{
    color: #4e4e4e;
    margin: 5px;
    margin-left: 15px;
    font-size: small;
}

.taskslist {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
    margin-top: 80px;
    margin-left: 120px;
    width: 70%;
}

.taskslist th {
    border-top: 1px solid #6695fa;	
    border-bottom: 1px solid #6695fa; 
    /*background: linear-gradient(#83aaff, #3075e6);*/
    background: #83aaff;
    color: white;
    padding: 10px 15px;
}

.taskslist tr:nth-child(odd) {
    background: #ebf3f9;
}

.taskslist td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    transition: all 0.5s ease;
}

/*.taskslist td:last-child{
    text-align: center;
    padding: 10px 15px;
}*/

.tlrefs{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.tlrefs:hover{
    cursor: pointer;
    color: #220bf3;
    text-decoration: underline;
}

/*.wrapper{
    background-color: #999999;
}*/

.taskAdderForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 47vw;
    padding-left: 2vw;
    font-size: 15pt;
    font-weight: 600;
}


.taskAdderForm textarea{
    font-size: 12pt;
}

.taskAdderForm button{
    height: 50px;
    font-size: large;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

.taskAdderForm button:hover{
    background-color: #d4d3d3;
}

textarea::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#ok{
    color: green;
}

#er{
    color: red;
}

ul{
    list-style: none;
}

.container{
    margin-left: 15%;
}

.taskAdderForm textarea{
    border-radius: 1px;
    border-color: #000000;
    outline: none;
    background-color: #ffffff;
    margin: 5px;
}
.taskAdderForm ::placeholder{
    color: #000000aa;
}

.taskarea{
    vertical-align: top;
    background-color: transparent;
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-left: 10px;
    border: none;
    resize: none;
    margin-top: 0px;
    background-color: white;
}
#submit {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    margin-left: 420px;
}

#result{
    width: 304px;
    height: 354px;
    overflow: scroll;
}

.imgs img{
    /*border: 1px solid black;*/
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -6px;
    width: 304px;
}

.imgsbottom img{
    /*border: 1px solid black;*/
    display: inline-block;
    margin-left: 10px;
    margin-top: -1px;
    width: 304px;
}


.taskarea:focus{
    outline: none;
}
.taskarea div{
    overflow: scroll;
}
#statement{
    text-indent: 15px;
    line-height: 25px;
    text-align: justify;
    padding: 20px 30px 20px 30px;
    white-space: pre-wrap;
}
#taskname{
    /* width: 1000px; */
    text-align: center;
}
#examples{
    margin-left: 15%;
    margin-top: 10px;
    width: 50%;
    font-size: medium;
    white-space: pre-wrap;
}
#task{
    background-color: #ffffffaa;
    margin-left: 15%;
    margin-right: 15%;
}

#editref{
    text-decoration: none;
    font-size: small;
    color: #000000;
    margin-left: 10px;
}

#editref:hover{
    text-decoration: underline;
    color: #0422a7;
    cursor: pointer;
}

#task h4{
    margin-left: -10%;
    text-align: center;
    white-space: pre-wrap;
}

#code{
    white-space: pre-wrap;
}