textarea::-webkit-scrollbar{
    width: 0px;
}
#submit{
    margin-top: 600px;
    margin-left: 430px;
    width:100px;
}
#code{
    position: absolute;
    top: 140px;
    left: 102px;
    border: none;
    width: 340px;
    height: 360px;
    resize: none;
    padding: 10px;
}
#code:focus{
    border: none;
    outline: none;
}
#result{
    position: absolute;
    top: 140px;
    left: 493px;
    border: none;
    width: 340px;
    height: 360px;
    resize: none;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
#result:focus{
    border: none;
    outline: none;
}
body{
    background-image: url("../media/Icon.svg");
    background-repeat: no-repeat;
    background-color: #097daeff;
    background-position: 100px 100px;
}

#ok{
    color: green;
}

#er{
    color: red;
}

ul{
    list-style: none;
}