<header>
<a href="http://vplicei.org/"><img src = "http://vplicei.org/wp-content/uploads/2016/01/vml-1.png" alt="ВМЛ"></a>
<div class="navigationButtons">
<% if (name!=""){ %>
<% if (title!="Main Page"){ %>
<button onClick='location.href="/"'>Главная</button>
<% }if (title.slice(0, 5)!="Tasks"){  %> 
<button onClick='location.href="/tasks/1/default"'>Задачи</button>
<% }if (isTeacher){ %>
    <% if (title!="Add Task"){ %>
    <button onClick='location.href="/addtask"'>Добавить задачу</button>
<% }}} %>
</div>
<div class = 'loginInterface'>
<% if (name==""){ %>
<form action="/" method="POST" class = "loging">
    <input type="login" name="login" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
<% } else { %>
    <a href = <%= '/account/'+ login +'/1/default' %> class = 'userName'><%= name %></a>
    <form action = '/logout?_method=DELETE' method = 'POST'>
        <button type = 'submit'>Выйти</button>
    </form>
<% } %>
</div>

</header>